<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <title>Welcome</title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- include Style -->
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body ng-app="MenuNav" ng-controller="AppCtrl">

  <ion-side-menus>
      
    <ion-pane ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view></ion-nav-view>

    </ion-pane>
    </ion-side-menu-content>

    <ion-side-menu width="150" side ="left" expose-aside-when="(min-width:768px)">
      <ion-header-bar class="bar-stable title">
        <h2>Simplyk</h2>
      </ion-header-bar>
      <ion-content>
        <div class="list">
            <button id="wrapper" class="{{navigation.pageHeaderLeft1.icon}}" ui-sref="{{navigation.pageHeaderLeft1.directionState}}">
              {{navigation.pageHeaderLeft1.titleShort}}
              </button>
            <button id="wrapper" class="{{navigation.pageHeaderLeft2.icon}}" ui-sref="{{navigation.pageHeaderLeft2.directionState}}">
              {{navigation.pageHeaderLeft2.titleShort}}
              </button>
            <button id="wrapper" class="{{navigation.pageHeaderLeft3.icon}}" ui-sref="{{navigation.pageHeaderLeft3.directionState}}">
              {{navigation.pageHeaderLeft3.titleShort}}
              </button>
        </div>
      </ion-content>
    </ion-side-menu>
        
  </ion-side-menus>


    <!-- Page 1 -->

    <script type="text/ng-template" id="home.html">
      <ion-view>

        <!-- Navigation button -->
        <ion-nav-buttons side="left">
          <button class="{{navigation.pageHeaderLeft1.icon}}" ui-sref="{{navigation.pageHeaderLeft1.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft2.icon}}" ui-sref="{{navigation.pageHeaderLeft2.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft3.icon}}" ui-sref="{{navigation.pageHeaderLeft3.directionState}}"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <!--  button-icon icon icon-right ion-arrow-right-c -->
          <button class="{{navigation.pageHeaderRight.icon}}" ui-sref="{{navigation.pageHeaderRight.directionState}}"></button>
        </ion-nav-buttons>

        <ion-content ng-controller="HomeCtrl" scroll="false" data-tap-disabled="true" id="wrapper">

          <!-- Landscape mode, event description -->
            <div class="paysage" id="description_event">
              <!-- Event information -->
              <div ng-if="eventSelected.name" id="description_event_wrapper" class="padding">
                <!-- header of description-->
                <div id="wrapper">
                  
                  <div id="description_event_name">
                    <b> {{eventSelected.name}} </b>
                    {{eventSelected.afterName}}
                  </div>
                </div>
                <!-- description details-->
                <p ng-bind-html="eventSelected.desc"></p>
                
                <div id="button_favoris">
                  <button class="button button-assertive button-small" ng-click="addtoFavoris()">
                    Favoris  <i class="icon ion-ios-heart-outline"></i>
                  </button>
                </div>
              </div>
            </div>

          <!-- Google Map -->
          <div id="map_content">
            <div id="map_canvas"></div>
          </div>

          <!-- Event information -->
          <div ng-if="eventSelected.name" id="description_event_wrapper" class="padding portrait">
            <!-- header of description-->
            <div class ="row" id="wrapper">
              <div class= "col-25" id="button_favoris">
                <button class="button button-assertive button-small" ng-click="addtoFavoris()">
                  Favoris  <i class="icon ion-ios-heart-outline"></i>
                </button>
              </div>
              <div class ="col-50" id="description_event_name">
                <b> {{eventSelected.name}} </b>
                {{eventSelected.afterName}}
              </div>
              <div class="col-25h" id="button_details">
                <button class="button button-assertive button-small" ng-click="openDetails()">
                  Détails  <i class="icon ion-arrow-right-a"></i>
                </button>
              </div>
            </div>
            <!-- description details-->
            <p ng-bind-html="eventSelected.desc"></p>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="filter.html">
      <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goBack()">back</button>
      </ion-nav-buttons>
        <ion-content scroll="false" data-tap-disabled="true"></ion-content>
      	<ion-content>
		  <div class="list">
        <div class="item item-divider"> 
          Distance, Selected Value: {{ data.distance }}
        </div>
        <ion-radio ng-repeat="item in distance"
                   ng-value="item.value"
                   ng-model="data.distance">
          {{ item.text }}
        </ion-radio>
        <div class="item item-divider"> 
          Temps, Selected Value: {{ data.temps }}
        </div>
        <ion-radio ng-repeat="item in temps"
                   ng-value="item.value"
                   ng-model="data.temps"
                   ng-change="serverSideChange(item)"
                   name="server-side">
          {{ item.text }}
        </ion-radio>
        <div class="item item-divider"> 
          Population cible, Selected Value: {{ data.populationCible }}
        </div>
        <ion-radio ng-repeat="item in populationCible"
                   ng-value="item.value"
                   ng-model="data.populationCible">
          {{ item.text }}
        </ion-radio>
        <div class="item item-divider">
        	Periodicite, Selected Value: {{ data.periodicity }}
        </div>
        <ion-radio ng-repeat="item in periodicity"
                   ng-value="item.value"
                   ng-model="data.periodicity"
                   ng-change="serverSideChange(item)"
                   name="server-side">
          {{ item.text }}
        </ion-radio>  
	     </div>
	  </ion-content>
    </script>
    <script type="text/ng-template" id="favorite.html">
      <ion-view>
        <ion-nav-buttons side="left">
          <button class="{{navigation.pageHeaderLeft1.icon}}" ui-sref="{{navigation.pageHeaderLeft1.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft2.icon}}" ui-sref="{{navigation.pageHeaderLeft2.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft3.icon}}" ui-sref="{{navigation.pageHeaderLeft3.directionState}}"></button>
        </ion-nav-buttons>

        <ion-content id="view" ng-controller="FavoriteCtrl" scroll="false" data-tap-disabled="true">
          
          <div id="master">
            <ion-list>

              <ion-item class="master-item item-text-wrap" ng-repeat="item in items" ng-click="masterToDetailMode()">

                <div class="master-button icon ion-chevron-right"></div>
                <div class="master-title">{{item.nom}}</div>
                <div class="master-desc">{{item.desc}}</div>

              </ion-item>

            </ion-list>
          </div>

          <div id="detail">
            <div id="detail-backButton" ng-click="detailModeToMaster()">Retour</div>
          </div>

        </ion-content>

      </ion-view>
    </script>

    <script type="text/ng-template" id="list.html">
  <ion-view>
        <ion-nav-buttons side="left">
          <button class="{{navigation.pageHeaderLeft1.icon}}" ui-sref="{{navigation.pageHeaderLeft1.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft2.icon}}" ui-sref="{{navigation.pageHeaderLeft2.directionState}}"></button>
          <button class="{{navigation.pageHeaderLeft3.icon}}" ui-sref="{{navigation.pageHeaderLeft3.directionState}}"></button>
        </ion-nav-buttons>
        <ion-content id="viewList" ng-controller="ListCtrl" scroll="false" data-tap-disabled="true">
            <div class="portrait">
              <div id="master">
                <ion-list>

                  <ion-item class="master-item item-text-wrap" ng-repeat="evenement in allEvent" ng-click="masterToDetailMode(evenement)">

                    <div class="master-button icon ion-chevron-right"></div>
                    <div class="master-title">{{evenement.titre}}</div>
                    <div class="master-desc">{{evenement.descriptifShort}}</div>

                  </ion-item>

                </ion-list>
              </div>
              <div id="detail">
                <div id="detail-backButton" ng-click="detailModeToMaster()">Retour</div>
                <!-- Event information -->
                <div id="description_event_wrapper" ng-if="evenement.name" class="padding">
                  <!-- header of description-->
                  <div id="wrapper">
                    <div id="description_event_name">
                      <b> {{evenement.name}} </b>
                      {{evenement.afterName}}
                    </div>
                  </div>
                  <!-- description details-->
                  <p ng-bind-html="evenement.desc"></p>
                  
                  <div id="button_favoris">
                    <button class="button button-assertive button-small" ng-click="addtoFavoris()">
                      Favoris  <i class="icon ion-ios-heart-outline"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Landscape mode, event description -->
            <div class="paysage">
             <ion-list id="listeventList">
              <ion-item class="master-item item-text-wrap" ng-repeat="evenementDetails in allEvent" ng-click="masterToDetailModeLandscape(evenementDetails)">

                <div class="master-button icon ion-chevron-right"></div>
                <div class="master-title">{{evenementDetails.titre}}</div>
                <div class="master-desc">{{evenementDetails.descriptifShort}}</div>

              </ion-item>

              </ion-list>
              <div id="detailsList">
                <!-- Event information -->
                <div ng-if="evenementDetails.name" id="description_event_wrapper" class="padding">
                  <!-- header of description-->
                  <div id="wrapper">
                    
                    <div id="description_event_name">
                      <b> {{evenementDetails.name}} </b>
                      {{evenementDetails.afterName}}
                    </div>
                  </div>
                  <!-- description details-->
                  <p ng-bind-html="evenementDetails.desc"></p>
                  
                  <div id="button_favoris">
                    <button class="button button-assertive button-small" ng-click="addtoFavoris()">
                      Favoris  <i class="icon ion-ios-heart-outline"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>


          </ion-content>
        </ion-view>
    </script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>&gt;

    <script src="lib/jquery/jquery-2.2.1.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/index.js"></script>

    <!-- Google JavaScript API -->
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
  </body>
</html>