.wrapper {
	width: 100%;
	box-shadow: 0px 1px 0px #b4b4b4;
}

#map_canvas {
	height: 100%;
	width: 100%;
}

#map_content {
	height: 70%;
	width: 100%;
	float:left;
	overflow: hidden;
}

.scroll {
	height: 100%;
}

.master {
	float: left;
	width: 30%;
	height: 100%;
	border-right: 1px solid black;
}
    
.detail {
	float: left;
	width: 70%;
	height: 100%;
}

.detail p {
	margin-bottom: 5px;
}

.detail-backButton {
	visibility: hidden;
	position: absolute;
}

.master-title {
	width: 80%;
	text-decoration: underline;
}

.master-button {
	float: right;
	text-align: right;
	width: 20%;
}

.master-desc {
	text-align: justify;
}

.master-item-list-selected {
	color: orange;
}

#button_favoris{
	text-align: center;
	padding-left: 2px;
}

#description_event_name{
	padding-left: 2px;
	text-align: center;
}

#button_details{
	text-align: center;
}

.labels {
   color: white;
   background-color: #FF0000;
   border-radius: 10px;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-weight : bold;
   font-size: 9px;
   text-align: center;
   width: 25px;
   white-space: nowrap;
}

.labels.active {
    background: #00FFFF;
    border-radius: 10px;
    color: black;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-weight : bold;
    font-size: 9px;
    text-align: center;
    width: 25px;
    white-space: nowrap;
}

.labels.hover {
    background: #00FF00;
    border-radius: 4px;
    color: red;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-weight : bold;
    font-size: 9px;
    text-align: center;
    width: 25px;
    white-space: nowrap;
}

#description_event_content{
	height: 30%;
	width: 100%;
}

#description_event_wrapper{
	height: 30%;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#detailpanel{
	visibility: hidden;
	display: none;
}

#description_event{
	float:right;
	width: 30%;
	height: 100%;
}

.master-item-favorite-selected {
	color: orange;
}

#button_favoris{
	text-align: center;
	padding-left: 2px;
}

#description_event_name{
	padding-left: 2px;
	text-align: center;
}

#button_details{
	text-align: center;
}

#description_event_content{
	height: 30%;
	width: 100%;
}

#description_event_wrapper{
	height: 30%;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.detailpanel{
	visibility: hidden;
	display: none;
}


@media screen and (max-width: 768px) { 
	.master {
	  width: 100%;
	  border-right: none;
	}

	.master-item-list-selected {
		color: black;
	}
	.master-item-favorite-selected {
		color: black;
	}

	.detail {
	  width: 100%;
	  display: none;
	}

	.detail-backButton {
	  visibility: visible;
	}

	#view.mode-detail .master { 
	  /* En mode détail, on cache le maitre pour montrer le détail */
	  display: none;         
	}

	#view.mode-detail .detail {
	  display: block;
	}

	#viewList.mode-detail .master { 
	  display: none;         
	}

	#viewList.mode-detail .detail {
	  display: block;
	}

	.portrait{
		visibility: visible;
		display: block;
	}
	.paysage{
		visibility: hidden;
		display: none;
	}
}


/* Paysage */ 
@media screen and (min-width: 768px){

	#listeventList{
		float: left;
		width:30%;
	}

	#detailsList{
		float: right;
		width:70%;
		height: 100%;
	}
	.paysage{
		visibility: visible;
	}
	.portrait{
		visibility: hidden;
		display: none;
	}

	#map_content{
		height: 100%;
		width: 70%
	}

	#description_event_wrapper{
		height: 100%;
	}
}

#button_favoris{
	text-align: center;
	padding-left: 2px;
}

#description_event_name{
	padding-left: 2px;
	text-align: center;
}

#button_details{
	text-align: center;
}

.volunteer-header {
	margin-top: 25px;
}

.volunteer-title {
	text-align: center;
}

.volunteer-join {
	float: left;
	margin-left: 20%;
}
.volunteer-details {
	float: right;
	margin-right: 20%;
}

.volunteer-favorite {
	float: left;
	margin-left: 20%;
}
.volunteer-favorite-details {
	float: right;
	margin-right: 20%;
}

.text-justify {
	text-align: justify;
}

.scrollable-wrapper {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.icon-img {
	width: 32px !important;
	height: 32px !important;
	top: 11px !important;
}

.icon-stack {
	i {
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Login page */

#page-login {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #EEEEEE;
	z-index: 999;
}

#container-login {
    position: relative;
    top: 40%;
    text-align: center;
}

.elt-login {
	background-color: rgb(74, 110, 169);
    display: inline-block;
    border-radius: 3%;
}	

.elt-login img {
	vertical-align: middle;
}

.elt-login span {
	color: white;
	vertical-align: middle;
}

#facebook-login {
}

.img-facebook-square {
	width: 40px;
	height: 40px;
}

#back-login {
	text-align: center;
	margin-top: 10%;
}

/* Center Text on the top-right corner */

.right-buttons {
	display: inline-block !important;
}

.userProfil-text {
	display: inline-block !important;
}

@media screen and (max-width: 768px){
	.userProfil-text {
		display: none !important;
	}
}

.userProfil-img {
	width: 35px;
	display: inline-block !important;
}

.valign {
	vertical-align: middle !important;
}

/* Mark the active navbav button */
.borderB {
	border-bottom: 1px solid orange !important;
}